{
  "presets" : [ "env" ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "release": {
      "presets": [
        ["minify", { "mangle": false }]
      ],
      "plugins": [
        ["conditional-compile", { "define": { "RELEASE": true } }]
      ]
    }
  }
}
